#button {
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  border-radius: 2px;
  background: #005bff;
  text-align: center;
  outline: none;
  color: white;
  cursor: pointer;
}

#button:hover {
  filter: brightness(120%);
}
